@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400|PT+Serif:400,400italic,700italic,700|PT+Serif+Caption:400,400italic);
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

img {
  position: absolute;
  top: 12%;
  width: 100%;
  z-index: -1;
}

.mobile {
  display: none;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.mobile div {
  display: none;
}

.mobile button {
  margin: 25px 0 25px 2%;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8) url("http://i.imgur.com/vKRaKDX.png") center no-repeat;
  border-radius: 3px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.mobile button.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}

.mobile a {
  display: block;
  background: rgba(125, 28, 68, 0.8);
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: white;
  font-family: "Futura", "Montserrat", sans-serif;
  font-weight: bold;
}

.mobile a:hover {
  opacity: .9;
}

.cart img {
  width: 25px;
  position: absolute;
  top: 4.5%;
  right: 3%;
}

@media screen and (max-width: 1500px) {
  #tag h1 {
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 350%;
    position: absolute;
    top: 45%;
    width: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    color: white;
  }

  #button {
    position: absolute;
    top: 63%;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #button button {
    background-color: #cddf79;
    border: none;
    width: 200px;
    height: 40px;
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
    color: #58595b;
  }
  #button button:hover {
    opacity: 0.8;
  }

  .parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Futura", "Montserrat", sans-serif;
  }

  .child {
    margin: 0 1.5%;
    line-height: 80px;
    font-size: 75%;
    letter-spacing: 2px;
    text-decoration: none;
    color: #58595b;
  }

  .child:hover {
    color: #7d1c44;
  }

  .childtwo {
    margin: 0 2.1%;
    line-height: 80px;
    color: #7ea33f;
  }

  .childtwo a {
    text-decoration: none;
    color: #7ea33f;
  }

  .title {
    position: absolute;
    top: 15%;
    font-size: 130%;
    width: 100%;
    text-align: center;
  }
  .title h2 {
    color: #58595b;
    margin: 0;
    font-family: "Futura", "Montserrat", sans-serif;
    letter-spacing: 8px;
  }
  .title h4 {
    margin: 0;
    font-family: "Didot", "PT Serif", sans-serif;
    font-size: 80%;
    letter-spacing: 1px;
    color: #929497;
  }

  .subnav {
    display: flex;
    top: 200px;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 3%;
  }

  .image {
    width: 30vw;
    padding-right: 30px;
  }

  .image img {
    column-count: 3;
    column-width: 100%;
    width: 30%;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .image img:hover {
    opacity: .6;
  }

  .title2 {
    position: absolute;
    top: 105%;
    font-size: 130%;
    width: 100%;
    text-align: center;
  }
  .title2 h2 {
    color: #58595b;
    margin: 0;
    font-family: "Futura", "Montserrat", sans-serif;
    letter-spacing: 8px;
  }
  .title2 h4 {
    margin: 0;
    font-family: "Didot", "PT Serif", sans-serif;
    font-size: 80%;
    letter-spacing: 1px;
    color: #929497;
  }

  .subnav2 {
    display: flex;
    top: 200px;
    flex-direction: row;
    margin-left: 4%;
    margin-right: 3%;
  }

  .image2 {
    width: 30vw;
    height: 5vh;
    padding-right: 30px;
    overflow: hidden;
  }

  .image2 img {
    column-count: 3;
    column-width: 100%;
    width: 30%;
    margin-top: 712px;
    margin-bottom: 50px;
  }

  .image2 img:hover {
    opacity: .6;
  }
}
@media screen and (max-width: 895px) {
  #tag h1 {
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 350%;
    position: absolute;
    top: 60%;
    width: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    color: #7ea33f;
    line-height: 60px;
  }

  #button {
    position: absolute;
    top: 78%;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #button button {
    background-color: #cddf79;
    border: none;
    width: 200px;
    height: 40px;
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
    color: #58595b;
  }
  #button button:hover, #button button:click {
    opacity: 0.8;
  }
}
@media screen and (max-width: 800px) {
  #tag h1 {
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 350%;
    position: absolute;
    top: 60%;
    width: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    color: #7ea33f;
    line-height: 60px;
  }

  #button {
    position: absolute;
    top: 87%;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #button button {
    background-color: #cddf79;
    border: none;
    width: 200px;
    height: 40px;
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
    color: #58595b;
  }
  #button button:hover {
    opacity: 0.8;
  }

  .mobile {
    display: block;
  }

  .child {
    display: none;
  }

  .title {
    position: absolute;
    top: 15%;
    font-size: 130%;
    width: 100%;
    text-align: center;
  }
  .title h2 {
    color: #58595b;
    margin: 0;
    font-family: "Futura", "Montserrat", sans-serif-10%;
    letter-spacing: 8px;
  }
  .title h4 {
    margin: 0;
    font-family: "Didot", "PT Serif", sans-serif;
    font-size: 75%;
    letter-spacing: 1px;
    color: #929497;
  }
}
@media screen and (max-width: 700px) {
  .subnav {
    display: flex;
    flex-direction: column;
    margin-right: 3%;
  }

  .image {
    width: 30vw;
    display: inline;
  }

  .image img {
    column-count: 1;
    display: inline;
    width: 92%;
    margin-top: 100px;
  }

  .image img:hover {
    opacity: .6;
  }

  .image a img:nth-child(2) {
    margin-top: 900px;
  }
}
@media screen and (max-width: 530px) {
  #tag h1 {
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 350%;
    position: absolute;
    top: 54%;
    width: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    color: #7ea33f;
    line-height: 60px;
  }

  #button {
    position: absolute;
    top: 81%;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #button button {
    background-color: #cddf79;
    border: none;
    width: 200px;
    height: 40px;
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
    color: #58595b;
  }
  #button button:hover {
    opacity: 0.8;
  }

  .title {
    position: absolute;
    top: 15%;
    font-size: 130%;
    width: 100%;
    text-align: center;
  }
  .title h2 {
    color: #58595b;
    margin: 0;
    font-family: "Futura", "Montserrat", sans-serif-20%;
    letter-spacing: 8px;
  }
  .title h4 {
    margin: 0;
    font-family: "Didot", "PT Serif", sans-serif;
    font-size: 72%;
    letter-spacing: 1px;
    color: #929497;
  }
}
@media screen and (max-width: 448px) {
  #tag h1 {
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 350%;
    position: absolute;
    top: 45%;
    width: 100%;
    margin: 0;
    text-align: center;
    letter-spacing: 2px;
    color: #7ea33f;
    line-height: 60px;
  }

  #button {
    position: absolute;
    top: 81%;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  #button button {
    background-color: #cddf79;
    border: none;
    width: 200px;
    height: 40px;
    font-family: "Futura", "Montserrat", sans-serif;
    font-size: 100%;
    letter-spacing: 2px;
    color: #58595b;
  }
  #button button:hover {
    opacity: 0.8;
  }
}
