@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400|PT+Serif:400,400italic,700italic,700|PT+Serif+Caption:400,400italic);

$font-stack: 'Futura', 'Montserrat', sans-serif;
$font-accent: 'Didot', 'PT Serif', sans-serif;
$title: 130%;
$sub-title: 80%;
$outside-margin: 3%;
$color-main: #7ea33f;
$color-light: #cddf79;
$color-accent: #7d1c44;
$grey: #58595b;
$light-grey: #929497;